.product__card {
  background-color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  margin: 0 1rem;
}

.card__container {
  max-width: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card__image {
  max-width: 150px;
}

.product__container {
}
