.products__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  display: flex;
  border-bottom: 1px solid black;
  padding: 0 2rem;
}

.product__thumbnail {
  max-width: 250px;
  width: 100%;
}

.featured__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 2rem;
  gap: 4rem;
}
