header {
  font-family: var(--paragraph-font);
  padding: 1rem 0;
}

.logo {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-size: 2rem;
  user-select: none;
}

.header__container {
  padding: 0 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search {
  border: 1px solid grey;
  border-radius: 8px;
  height: 40px;
  width: 20rem;
  padding: 10px 16px;
  margin-right: 24px;
  background-color: var(--product-color);
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.header__cart {
  font-size: 1.8rem;
  position: relative;
}

.cart__icon {
  position: relative;
}

.cart__quantity {
  font-family: var(--heading-font);
  color: var(--black);
  padding: 0.25rem;
  position: absolute;
  background-color: var(--primary-color);
  color: var(--white);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 90%;
  left: 70%;
  font-size: 0.7rem;
}
